* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:aquamarine;
    /* background-color: (90deg, #efd5ff 0%, #515ada 100%); */
     /* linear-gradient(90deg, #efd5ff 0%, #515ada 100%); */
    /* background:  */
     height: 90vh;
    width: 98vw;

}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    /* margin: 50px; */
    /* height: 100%; */
    /* border: darkslateblue solid 2px; */

}
.container2:hover{
    cursor: pointer;
    .ford{
        opacity: 0;
        cursor: pointer;
    }

    .horse{
        opacity: 1;
        cursor: pointer;
        /* scale: 1.2; */
    }
}

.ford {
    /* border: 3px solid black; */
    height: 70%;
    width: 70%;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 180px;
    filter: drop-shadow(10px 10px 10px rgb(0, 0, 0));
    transition: all ease 2s;
    flex-wrap: wrap;
    opacity: 1
}


.horse
{  
    overflow: hidden;
    /* border: 3px solid gold; */
    height: 80%;
    width: 80%;
    filter: drop-shadow(10px 10px 10px   #000000 );
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 110px;
    transition: all ease 2s;
    opacity: 0;
    flex-wrap: wrap;
    
}

#time {
    text-shadow: 2px 2px 5px black;
    font-size: 250px;
    position: relative;
    text-align: center;
    top: 150px;
    /* opacity: 5464;    */
}

@media  (max-width: 320px) {
    body {
        background-color: gold;
        
    }
    .ford{
        height: 35%;
        width: 100%;
        top: 150px;
    }
    .horse{
        /* height: 35%; */
        top: 117.5px;
    }
    #time{
        font-size: 85px;
        top: 139px;
        
    }
}

@media (min-width:320px) and (max-width: 375px) {
    body {
        /* background-color: orchid; */
        background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
        
    }
    .ford{
        height: 30%;
        /* height: 37.5%; */
        width: 100%;
        top: 155px;
        filter: drop-shadow(15px 15px 10px   grey );
    }
    .horse{
        height: 35%;
        width: 110%;
        filter: drop-shadow(8px 8px 10px   grey );
        top: 135px;
    }
    #time{
    text-shadow: 2px 2px 5px grey;    
    font-size: 95px;
    top: 139px;

    }
    /* .container:hover{
        scale: 1.2;
    } */
}
@media (min-width:375px) and (max-width: 425px) {
    body {
        background-color: darkblue;
    
    }
    .ford{
        height: 40%;
    filter: drop-shadow(10px 10px 10px white);
    
    /* width: 1100px; */
    width: 100%;
    top: 150px;
}
.horse{
    height: 60%;
    width: 150%;
    /* margin-right: 150px; */
    filter: drop-shadow(10px 10px 10px white);
    top: 117.5px;
}
#time{
    font-size: 105px;
    top: 139px;
    text-shadow: 2px 2px 5px white;

    }
}
/* @media  and (max-width: 768px) */
@media (min-width: 425px) and (max-width: 768px) {
    body {
        background-color: lightcoral;
    
    }
    .ford{
        filter: drop-shadow(15px 15px 15px rgb(0, 0, 0));
        height: 30%;
        width: 70%;
        top: 195px;
    }
    .horse{
        filter: drop-shadow(15px 15px 15px rgb(0, 0, 0));
        height: 35%;
        top: 170.5px;
    }
    #time{
        text-shadow: 2px 2px 5px black;
    font-size: 150px;
    top: 139px;

    }
}
/* /* @media (min-width: 768px)  and (max-width:1180px){ */
@media (min-width: 820px) and (max-width: 1180px) {

    body {
        background-color: rgb(128, 240, 139);
    
    }
    .ford{
        filter: drop-shadow(15px 15px 15px rgb(0, 0, 0));
        height: 35%;
        width: 70%;
        top: 155px;
    }
    .horse{
        filter: drop-shadow(15px 15px 15px rgb(0, 0, 0));
        height: 35%;
        top: 150.5px;
    }
    #time{
        text-shadow: 2px 2px 5px black;
    font-size: 150px;
    top: 139px;

    }
} */